@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  margin: 0;
  padding: 0;
}

button {
    cursor: pointer;
}

.bg-hero-pattern {
    /* background-image: url('../public/bgImage.webp') !important; */
}
